* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Nunito Sans", sans-serif; */
}

p {
  margin: 0 !important;
}

.button,
.GN {
  white-space: nowrap;
  background: brown;
  color: beige;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  transition: background 0.25s;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: rgb(194, 30, 30);
}

.name-container,
.random-container,
.loop-container {
  background: #1d1d1d;
  color: #fff;
  height: 60px;
  margin-bottom: 3%;
}

button {
  padding: 5% 20%;
}

.CN {
  background: burlywood;
  color: black;
  display: inline-block;
  height: 100px;
  border-radius: 4px;
  border: 2px solid #1d1d1d;
}

.RN,
.R {
  background: burlywood;
  color: black;
  border: 2px solid #1d1d1d;
  width: 900px;
  height: 100px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.RN {
  padding-left: 1%;
}

.R {
  justify-content: center;
}

#clickedNum,
#randomNum,
#result,
#guessNum {
  font-size: 20px;
  font-weight: 700;
}
